shutterstock-server/node_modules
shutterstock-server/package-lock.json
shutterstock-server/.env
shutterstock-app/node_modules
shutterstock-app/.pnp
shutterstock-app/.pnp.js
shutterstock-app/coverage
shutterstock-app/build
shutterstock-app/.DS_Store
shutterstock-app/.env.local
shutterstock-app/.env.development.local
shutterstock-app/.env.test.local
shutterstock-app/.env.production.local
shutterstock-app/npm-debug.log*
shutterstock-app/yarn-debug.log*
shutterstock-app/yarn-error.log*
shutterstock-app/package-lock.json
.idea/
.vscode
.vs
